<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Travel App</title>
    </head>
    <body>
        <header>
            <h1>Travel App</h1>
        </header>
        <main>
            <form>
                <label>Enter Location</label>
                <input type="text">
                <label>Enter Date of Journey</label>
                <input type="date">
                <input type="submit">
            </form>
        </main>
        <article>
            <img class="location">
            <img class="weather">
            <p class="countdown"></p>
            <p class="weather"></p>
        </article>
    </body>
</html>