body {
    box-sizing: border-box;
}

main {
    width: 80%;
    max-width: 240px;
    margin: 0 auto;
    padding: 5%;
    background-color: aquamarine;
}

article {
    width: 80%;
    margin: 0 auto;
}

form {
    display: flex;
    flex-direction: column;
    text-align: center;
}

label, input {
    margin-top: 5vh;
}

img.location {
    width: 100%;
    max-width: 420px;
    border-radius: 6px;
}

img.weather {
    width: 50px;
}