body {
    box-sizing: border-box;
}

main {
    width: 80%;
    margin: 0 auto;
}

article {
    width: 80%;
    margin: 0 auto;
}

form {
    display: flex;
    flex-direction: column;
}

label, input {
    margin-top: 1vh;
}

img.location {
    width: 100%;
    max-width: 420px;
    border-radius: 6px;
}

img.weather {
    width: 50px;
}